@import "../common.less";
.lt_title {
    a {
        right: auto;
        left: 0;
    }
}

.lt_container {
    padding: 10px;
    .mui-button-row {
        margin-top: 14px;
        .mui-btn-primary {
            width: 100%;
        }
    }
    .free_register {
        color: #007aff;
        font-size: 12px;
        margin-top: 14px;
    }
}